@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a, a:hover {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: #ffa500;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

input, textarea {
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 240px minmax(0, 1fr);
      grid-template-columns: 240px minmax(0, 1fr);
  -ms-grid-rows: minmax(76px, auto) minmax(0, 1fr);
      grid-template-rows: minmax(76px, auto) minmax(0, 1fr);
}

.header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 20px 16px;
}

.aside {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.wrapper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px 16px 0 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
  -ms-grid-columns: minmax(0, 1fr);
      grid-template: 1fr auto/minmax(0, 1fr);
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.footer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 20px 16px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.header__logo, .header__logo:hover {
  color: #ffa500;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  white-space: nowrap;
}

.logo span {
  margin-right: 15px;
}

.search__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid #dadada;
  border-radius: 5px;
  overflow: hidden;
}

.search__input {
  padding: 7px 10px;
  width: 300px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.search__input:focus {
  border: 1px solid #00ADEE;
}

.search__btn {
  height: 100%;
  margin-left: auto;
  padding: 7px 10px;
}

.search__btn:hover {
  background-color: #dadada;
}

.search__voice {
  font-size: 1.2rem;
  background: none;
  color: #dadada;
  margin-left: 5px;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

.search__voice:hover {
  color: #777777;
}

.profile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__notifications {
  margin-right: 20px;
}

.notifications {
  cursor: pointer;
  font-size: 1.2rem;
  color: #dadada;
  -webkit-transition: color 1s ease;
  transition: color 1s ease;
}

.notifications:hover {
  color: #777777;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.menu {
  border-radius: 50%;
  background-color: #ffa500;
  line-height: 1;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.menu:hover span {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu__items {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  width: 150px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  z-index: 1;
}

.menu:hover .menu__items {
  display: block;
}

.menu__item a {
  padding: 10px 15px;
  -webkit-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

.menu__item a span {
  margin-right: 10px;
}

.menu__item a:hover {
  background-color: #dadada;
}

.menu__item:nth-child(3) a {
  border-top: 1px solid #dadada;
  color: #ff0000;
}

@media screen and (max-width: 768px) {
  .header__search {
    max-width: 100%;
  }
  .search__input {
    max-width: 80%;
  }
}

@media screen and (max-width: 665px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__profile {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__search {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 15px;
  }
}

.aside {
  background-color: #e8e8e8;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(auto, 500px) 150px;
  -ms-grid-columns: 1fr;
      grid-template: minmax(auto, 500px) 150px/1fr;
}

.streamers {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  overflow-y: auto;
}

.streamer__name {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.streamer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 16px 16px;
}

.streamer__link:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dadada;
}

.streamer__info, .streamer__followers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.streamer__avatar, .streamer__followers .pulse {
  margin-right: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

.pulse {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: inherit;
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

.pulse.live {
  background-color: #ff0000;
}

.social {
  padding: 20px 16px;
  border-top: 1px solid #ffffff;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dadada;
  height: 100%;
}

.social__text {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}

.social__text::-moz-selection {
  color: #ffffff;
  background-color: #ffa500;
}

.social__text::selection {
  color: #ffffff;
  background-color: #ffa500;
}

.social__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

.social__btns li a {
  margin: 0 10px;
}

.social__btns li a:hover {
  color: #00ADEE;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 1200px) {
  .streamer__avatar {
    margin-right: 0;
  }
  .streamer__name, .streamer__followers {
    display: none;
  }
  .social {
    display: none;
  }
}

.categories__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[13];
      grid-template: 1fr/repeat(13, 1fr);
  gap: 10px;
  overflow-x: auto;
}

.categories__list::-webkit-scrollbar {
  display: none;
}

.item {
  cursor: pointer;
  padding: 5px 15px;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  background-color: #e8e8e8;
  border: 1px solid #dadada;
  border-radius: 20px;
}

.item:first-child {
  color: #ffffff;
  background-color: #ffa500;
}

.card__preview {
  position: relative;
}

.card__preview:hover .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  opacity: 1;
}

.card__stream {
  position: absolute;
  background-color: #ff0000;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  top: 5px;
  left: 5px;
}

.card__status {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 0.6rem;
  color: #ffffff;
  right: 5px;
  bottom: 5px;
}

.card__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px 5px 0;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
}

.card__avatar {
  margin-right: 10px;
}

.card__intro {
  max-width: 70%;
}

.card__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  font-weight: 700;
}

.card__title:hover {
  color: #00ADEE;
}

.card__streamer {
  font-size: 0.6rem;
  color: #777777;
}

.card__streamer:hover {
  color: #00ADEE;
}

.card__text {
  display: none;
}

.card__options {
  margin-left: auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 0;
}

.slider {
  max-width: 100%;
  padding: 80px 0;
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.slider__items li {
  width: 50px;
  overflow: hidden;
  padding: 1px 1px 0;
  cursor: pointer;
  display: block;
  -webkit-box-shadow: 1px 3px 15px #7e807e;
          box-shadow: 1px 3px 15px #7e807e;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.slider__items .card {
  width: 600px;
}

.slider__items li:hover, .slider__items li:focus {
  width: 600px;
  -webkit-box-shadow: 1px 3px 15px #36c5fa;
          box-shadow: 1px 3px 15px #36c5fa;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.slider__items li:nth-child(4) {
  width: 600px;
}

.slider__items li:nth-child(4):hover {
  width: 600px;
}

.slider__items:hover li:nth-child(4) {
  width: 50px;
}

.slider .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider .card__preview {
  width: 70%;
}

.slider .card__descr {
  display: block;
  padding: 16px;
  width: 30%;
  background-color: #e8e8e8;
}

.slider .card__text {
  display: block;
  margin-top: 16px;
  font-size: 0.7rem;
  line-height: 1.5;
}

.slider .card__text::-moz-selection {
  color: #ffffff;
  background-color: #ffa500;
}

.slider .card__text::selection {
  color: #ffffff;
  background-color: #ffa500;
}

.slider .card__options {
  display: none;
}

.video {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 20px 0;
}

.footer {
  padding: 20px 0;
}

.footer p {
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .container {
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
  }
}

@media screen and (max-width: 665px) {
  .container {
    -ms-grid-rows: minmax(76px, 120px) 1fr auto;
        grid-template-rows: minmax(76px, 120px) 1fr auto;
  }
}
/*# sourceMappingURL=style.css.map */