.aside {
  background-color: $bg-lightgrey;
  display: grid;
  grid-template: minmax(auto, 500px)  150px / 1fr;
}

.streamers {
  grid-row: 1/2;
  overflow-y: auto;
}

.streamer {
  &__name {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 16px 16px;
    &:hover {
      display: flex;
      background-color: $bg-grey;
    }
  }  
  &__info, &__followers {
    display: flex;
    align-items: center;
  }
  &__avatar, &__followers .pulse {
    margin-right: 10px;
  }
}

.avatar {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: $bg-white;
}

.pulse {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: inherit;
  animation: pulse 1s infinite;
  &.live {
    background-color: $live-color;
  }
}


.social {
  padding: 20px 16px;
  border-top: 1px solid $bg-white;
  grid-row: 2/3;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-grey;
    height: 100%;
  }
  
  &__text {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;
    &::selection {
      color: $text-white;
      background-color: $accent-color;
    }
  }
  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    & li a {
      margin: 0 10px;
      &:hover {
        color: $hover-color;
      }
    }
  }
  
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }  
}

@media  screen and (max-width: 1200px) {
  .streamer {
    &__avatar {
      margin-right: 0;
    }
    &__name, &__followers {
      display: none;
    }
  }
  .social {
    display: none;
  }
}