.card {  
  &__preview {
    position: relative;  
    &:hover .overlay {
      display: flex;
      color: $text-white;
      opacity: 1;
    }
  }
  &__stream {
    position: absolute;
    background-color: $live-color;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 0.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: $text-white;
    text-transform: uppercase;
    top: 5px;
    left: 5px;
  }
  &__status {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 0.6rem;
    color: $text-white;
    right: 5px;
    bottom: 5px;
  }
  &__descr {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 0;
  }
  &__info {
    display: flex;
    max-width: 90%;
  }  
  &__avatar {
    margin-right: 10px;
  }
  &__intro {
    max-width: 70%;
  }
  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    font-weight: 700;
    &:hover {
      color: $hover-color;
    }
  }
  &__streamer {
    font-size: 0.6rem;
    color: $text-darkgrey;
    &:hover {
      color: $hover-color;
    }
  }
  &__text {
    display: none;    
  }
  &__options {
    margin-left: auto;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
  opacity: 0;
}