.categories {  
  &__list {
    display: grid;
    grid-template: 1fr / repeat(13, 1fr);
    gap: 10px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }  
}

.item {
  cursor: pointer;
  padding: 5px 15px;
  font-size: 0.7rem;
  font-weight: 700;
  text-align: center;
  background-color: $bg-lightgrey;
  border: 1px solid $bg-grey;
  border-radius: 20px;
  &:first-child {
    color: $text-white;
    background-color: $accent-color;
  }
}