.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.80);
  z-index: 1000;
  &__logo, &__logo:hover {
    color: $accent-color;
  }
  &__search {
    display: flex;
  }
}

.logo {
  font-size: 30px;
  font-weight: 700;
  white-space: nowrap;  
  span {
    margin-right: 15px;
  }
}

.search {  
  &__text {
    display: flex;
    justify-content: flex-start;
    border: 1px solid $bg-grey;
    border-radius: 5px;
    overflow: hidden;
  }
  &__input {
    padding: 7px 10px;
    width: 300px;
    border: 1px solid transparent;
    border-radius: 5px;
    &:focus {
      border: 1px solid $hover-color;
    }
  }
  &__btn {
    height: 100%;
    margin-left: auto;
    padding: 7px 10px;
    &:hover {
      background-color: $bg-grey;
    }
  }
  &__voice {
    font-size: 1.2rem;
    background: none;
    color: $text-grey;
    margin-left: 5px;
    transition: color 1s ease;
    &:hover {
      color: $text-darkgrey;
    }
  }
}

.profile {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__notifications {
    margin-right: 20px;
  }
}

.notifications {
  cursor: pointer;
  font-size: 1.2rem;
  color: $text-grey;
  transition: color 1s ease;
  &:hover {
    color: $text-darkgrey;
    transform: rotate(30deg);
  }
}

.menu {
  border-radius: 50%;
  background-color: $accent-color;
  line-height: 1;
  padding: 10px;
  cursor: pointer;
  transition: transform 1s ease;
  &:hover span {
    transform: scale(1.2);
  }
  &__items {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 150px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    z-index: 1;  
  }
  &:hover .menu__items {
    display: block;
  }
  &__item {
    a {
      padding: 10px 15px;
      transition: background-color 1s ease;
      span {
        margin-right: 10px;
      }
      &:hover {
        background-color: $bg-grey;
      }
    }
    &:nth-child(3) a {
      border-top: 1px solid $bg-grey;
      color: $live-color;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {  
    &__search { 
      max-width: 100%;
    }
  }

  .search__input {
    max-width: 80%;
  }
}

@media screen and (max-width: 665px) {
  .header {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__profile { order: 2; }
    &__search { 
      order: 3;
      margin-top: 15px;
    }
  }
}
