body {
  margin: 0;
  padding: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
a, a:hover {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: $accent-color;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

input, textarea {
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}