.slider {
  max-width: 100%;
  padding: 80px 0;
  &__items {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  &__items li {
    width: 50px;
    overflow: hidden;
    padding: 1px 1px 0;
    cursor: pointer;
    display: block;
    box-shadow: 1px 3px 15px #7e807e;
    transition: all 1.5s;
  }
  &__items .card {
    width: 600px;    
  }
  &__items li:hover, &__items li:focus {
    width: 600px;
    box-shadow: 1px 3px 15px #36c5fa;
    transition: all 1s;
  }
  &__items li:nth-child(4){
    width: 600px;
  }
  &__items li:nth-child(4):hover {
    width: 600px;
  }
  &__items:hover li:nth-child(4) {
    width: 50px;
  }
  & .card {
    display: flex;
  }
  & .card__preview {
    width: 70%;
  }
  & .card__descr {    
    display: block;
    padding: 16px;
    width: 30%;
    background-color: $bg-lightgrey;
  }
  & .card__text {
    display: block;
    margin-top: 16px;
    font-size: 0.7rem;
    line-height: 1.5;
    &::selection {
      color: $text-white;
      background-color: $accent-color;
    }
  }
  & .card__options {
    display: none;
  }  
}


