$bg-white: #ffffff;
$bg-lightgrey: #e8e8e8;
$bg-grey: #dadada;
$bg-darkgrey: #777777;


$text-black: #1f1f1f;
$text-white: #ffffff;
$text-grey: #dadada;
$text-darkgrey: #777777;


$accent-color: #ffa500;
$live-color: #ff0000;
$hover-color: #00ADEE;
