@import 'variables';
@import 'fonts';
@import 'reset';

body {
  font-family: 'Montserrat', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns:  240px minmax(0, 1fr);
  grid-template-rows:  minmax(76px, auto) minmax(0, 1fr);
}

.header {
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 20px 16px;
}

.aside {
  grid-column: 1/2;
  grid-row: 2/4;
}

.wrapper {
  grid-column: 2/3;
  grid-row: 2/3;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px 16px 0 16px;
  display: grid;
  grid-template: 1fr auto / minmax(0, 1fr);
  &::-webkit-scrollbar {
    display: none;
  }
}

.content {
  grid-row: 1/2;
}

.footer {
  grid-row: 2/3;
  padding: 20px 16px;
}


@import 'header';
@import 'aside';
@import 'categories';
@import 'card';
@import 'slider';
@import 'video';
@import 'footer';



@media  screen and (max-width: 1200px) {
  .container {
    grid-template-columns:  auto 1fr;
  }
}

@media screen and (max-width: 665px) {
  .container {
    grid-template-rows:  minmax(76px, 120px) 1fr auto;
  }
}

